@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Epilogue&family=Roboto&display=swap');
@import "res/ol/ol.css";

*, *::before, *::after {
    margin: 0;
    padding: 0;
    font-size: 16px;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    overflow: scroll;
}

body {
    position: relative;
    background-color: none;
    font-size: 1rem;
    font-family: "Roboto", Tahoma;
}

/* Header empieza por acá */

nav h1 {
    font-size: max(2rem, 0.5rem);
    font-weight: bold;
    color: #C6EBC5;
    transition: 500ms;
    cursor: pointer;
    user-select: none;
    }
nav h1 span {
    font-size: max(2rem, 0.5rem);
    font-weight: bold;
    color: #A1C298;
    transition: 500ms;
    cursor: pointer;
    user-select: none;
}

nav h1:hover{
    color: #38E54D;
}
nav h1 span:hover{
    color: #367E18;
}

nav button {
    border: none;
    padding: 1vh 1vw;
    border-radius: 1vw;
    cursor: pointer;
    transition: 500ms;
}

nav button:hover{
    transition: 0.5s;
    transform: scale(1.05);
}


ul[class="no-list-style"] li a {
    color: black;
    font-weight: 1000;
    text-decoration: none;
    padding: 15px;
    max-height: 100px;
}

ul[class="no-list-style"] li{
    display: inline-block;
    cursor: pointer;
    user-select: none;
    border-right: solid 2px rgba(0,0,0, 0.3);
}


ul[class="no-list-style"] li:last-child {
    border-right: none;
}

ul[class="no-list-style"] a:hover{
    transition: 600ms;
    color: #CD104D;
}

#container {
    max-height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
}

nav {
    top: 0px;
    position: sticky;
    padding: 10px 50px;
    max-height: 100px;
    z-index: 99;
    background-color: white;
}

.no-list-style{
    text-decoration: none;
    list-style: none;
}

.h1glow {
    position: sticky;
}

/* Header termina acá */

/* Home empieza acá */

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}

.home {
    background-color: #31C6D4;
    background: rgb(34,193,195);
    background: linear-gradient(52deg, rgba(34,193,195,1) 9%, rgba(34,193,195,1) 28%, rgba(255,255,255,1) 100%);
}

.paragraph_info {
    /* background-color: red; */
    margin: 10px 0px;
    max-width: 50vw;
    min-width: 50vw;
    font-family: "Epilogue", sans-serif;
    text-align: center;
    color: white;
}

.svg {
    display: block;
    width: 50vw;
    height: auto;
    max-width: 70vw;
    max-height: 40vh;
    /* background-color: green; */
}

.h2_title {
    margin: 10px 0px;
    max-width: 60vw;
    font-family: "Epilogue", sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
    color: whitesmoke;
    text-align: center;
    /* background-color: goldenrod; */
}

/*
.polygon_shape {
    position: relative;
    background: #CD104D;
    width: 100px;
    height: 100px;
}
.polygon_shape::before{
    position: absolute;
    content: '';
    width: 100px;
    height: 100px;
    background: #CD104D;
    z-index: 10;
}

.polygon_shape::after{
    position: absolute;
    content: '';
    width: 100px;
    height: 100px;
    bottom: 0;
    background: #CD104D;
    z-index: 100;
    
}
*/
.about-us{
    /* background-color: #FCFFB2; */
    background: rgb(46,184,114);
    background: linear-gradient(38deg, rgba(46,184,114,1) 36%, rgba(253,255,197,1) 95%, rgba(255,255,255,1) 100%);
}

.mapa {
    /* background-color: #B6E388; */
    justify-content: flex-start;
    background: rgb(163,222,131);
    background: linear-gradient(38deg, rgba(163,222,131,1) 31%, rgba(155,219,130,1) 36%, rgba(46,184,114,1) 89%);
}

.footer {
    max-width: 100vw;
    max-height: 20vh;
    background-color: #F7F7EE;
}

.h2_mapa {
    padding-top: 4vh;
    padding-bottom: 4vh;
}

.map {
    height: 80vh;
    width: 80vw;
}